.anchor-scope {
    anchor-scope: --filter-anchor;
}

.anchor {
    anchor-name: --filter-anchor;
}

.popover {
    position-anchor: --filter-anchor;
    position: absolute;
    position-area: top center;
}